/*
 * Empty Stylesheet file.
 */

@font-face{
    font-family: 'MiFuente';
    src:url("FunnyKid.ttf");
}

*{
    -fx-font-family: Arial Rounded;
 
}
.vbox-no-transparent {
    
    -fx-background-color: rgba(255, 255, 255,0.9);
}
.backgroundImage {
    -fx-background-image: url("../resources/backgroundImage.png");
    -fx-background-size: cover;
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
    -fx-background-position: center;
}
.anchorPane-Center{
    -fx-border-color:#5271ff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5, 0, 0, 0);
    
    -fx-background-color: rgba(194, 195, 219, 0.68);
}
.button{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: black;
    -fx-alignment:CENTER;
       -fx-font-size: 16px;
      -fx-font-weight:bold;
}
.sub-Title{
    -fx-text-fill: #5271ff;
    -fx-font-size:28px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}

.sub-Title2{
    -fx-text-fill: #1E2B69;
    -fx-font-size:20px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
   
}

.txt-default{
    -fx-border-color:#5271ff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);

}

.btn-Save{
    -fx-background-image: url("../resources/Save.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: #666666;
}
.btn-Save:hover{
    -fx-background-color: #B0A6A6;
}

.btn-Cancel{
    -fx-background-image: url("../resources/Cancel.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: #CC0000;
}
.btn-Cancel:hover{
    -fx-background-color: #f95454;
}

/*PrincipalView */
.Title-Cooperativa {
    -fx-text-fill: #1E2B69;
    -fx-font-size: 28px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}
.btn-Exit{
    -fx-background-image:url("../resources/exit.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#333333;
}
.btn-Exit:hover{
    -fx-background-color:#B0A6A6;
}

 .btn-create-account-type{
    -fx-background-image:url("../resources/new-account.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#006400;
 
    /*-fx-background-color: rgba(0, 100, 0, 255);*/
}

.btn-modify-cooperative{
    -fx-background-image:url("../resources/check-in.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#00008B;
}

.btn-check-in{
    -fx-background-image:url("../resources/check-in.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#FFA500;
}

.btn-check-accounts{
    -fx-background-image:url("../resources/consult.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#FFFF00;
}

.btn-mailbox-deposit{
    -fx-background-image:url("../resources/mailbox.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#8A2BE2;
}

.btn-maintenance{
    -fx-background-image:url("../resources/maintenance.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: #808080;
}

.btn-register-user{
    -fx-background-image:url("../resources/check-in.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: #FFC0CB;
}

.btn-move-money{
    -fx-background-image:url("../resources/move-money.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
  /*  -fx-background-color:#00008B;*/
    -fx-background-color: rgba(0, 0, 139,0.9);
}

.btn-print-id{
    -fx-background-image:url("../resources/pdf-icon.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#FF0000;
}
/*Create New Type Account*/
.btn-Add{
    -fx-background-color: #2196F3;
    -fx-background-image: url("../resources/Add.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}
.btn-Add:hover{
    -fx-background-color: #69bcff;
}

.btn-Search{
    -fx-background-color: #23B82E;
    -fx-background-image: url("../resources/Search.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}
.btn-Search:hover{
    -fx-background-color:#4efd5c;
}

/*Register User*/
.btn-MakePhoto{
 -fx-background-color: #23B82E;
    -fx-background-image: url("../resources/MakePhoto.png");
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}
.btn-MakePhoto:hover{
    -fx-background-color:#4efd5c;
}