/*
 * Empty Stylesheet file.
 */

@font-face{
    font-family: 'MiFuente';
    src:url("FunnyKid.ttf");
}

.borde_pane{
    -fx-font-family: Arial Rounded;
    -fx-font-size:12.0px;
    -fx-font-weight:bold;
    -fx-background-color: #c2c3db
}
.button{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: black;

    -fx-font-size: 14px;
    -fx-alignment:CENTER;
}

/*PrincipalView */
.Title-Cooperativa {
    -fx-text-fill: #1E2B69;
    -fx-font-size:28px;
    -fx-padding: 5 0 5 0;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
}
.btn-Exit{
    -fx-background-image:url("../resources/exit.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#333333;
}
.btn-Exit:hover{
    -fx-background-color:#f95454;
}

.btn-create-account-type{
    -fx-background-image:url("../resources/new-account.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#006400;
}

.btn-modify-cooperative{
    -fx-background-image:url("../resources/check-in.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#00008B;
}

.btn-check-in{
    -fx-background-image:url("../resources/check-in.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#FFA500;
}

.btn-check-accounts{
    -fx-background-image:url("../resources/consult.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#FFFF00;
}

.btn-mailbox-deposit{
    -fx-background-image:url("../resources/mailbox.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#8A2BE2;
}

.btn-maintenance{
    -fx-background-image:url("../resources/maintenance.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: #808080;
}

.btn-register-user{
    -fx-background-image:url("../resources/check-in.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: #FFC0CB;
}

.btn-move-money{
    -fx-background-image:url("../resources/move-money.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#00008B;
}

.btn-print-id{
        -fx-background-image:url("../resources/pdf-icon.png");
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color:#FF0000;
}